<div class="login-container">
  <div class="form-column">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title class="login-title">Registrar Usuario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field class="login-input">
            <input matInput placeholder="Nombre">
          </mat-form-field>

          <mat-form-field class="login-input">
            <input matInput placeholder="Apellido">
          </mat-form-field>

          <mat-form-field class="login-input">
            <input matInput placeholder="Correo Electrónico">
          </mat-form-field>

          <mat-form-field class="login-input">
            <input matInput type="password" placeholder="Contraseña">
          </mat-form-field>

          <mat-form-field class="login-input">
            <input matInput type="password" placeholder="Confirmar Contraseña">
          </mat-form-field>

          <button mat-raised-button color="primary" class="login-button">Registrarse</button>
        </form>

        <div class="register-link">
          <a mat-button routerLink="/login">Regresar al Inicio de Sesión</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
