.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.mat-raised-button {
  margin-right: 10px;
}

.content-container {
  margin: 10px 100px 20px 200px; /* Margen superior derecha inferior izquierda */
}

.full-width-table {
  width: 100%;
}
