<div class="login-container">
  <div class="image-column">
    <!-- <h1 class="eve-personal"> EVE PERSONAL </h1> -->
  </div>
  <div class="form-column">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title class="login-title">Iniciar Sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="onLogin()">
          <mat-form-field class="login-input">
            <input matInput placeholder="Correo Electrónico" name="identifier" [(ngModel)]="identifier" required>
          </mat-form-field>

          <mat-form-field class="login-input">
            <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
          </mat-form-field>

          <button mat-raised-button color="warn" class="login-button" type="submit">Ingresar</button>
        </form>

        <!-- <div class="register-link">
          <a mat-button routerLink="/registrar-usuarios">Registrarse</a>
        </div> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
