.login-container {
  display: flex;
  height: 100vh; /* Ajusta el alto según tu diseño */
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 123, 255, 0.3), rgba(0, 123, 255, 0)); /* Degradado horizontal transparente */
}

.image-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('src/assets/images/FondoLogin.jpg');

  background-position: center;
  background-size: cover;
  height: 100vh;
}

.image-column img {
  max-width: 100%;
  max-height: 100%;
}

.form-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 80%; /* Ajusta el ancho del formulario según tu diseño */
  max-width: 400px; /* Limita el ancho máximo */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1.eve-personal {
  display: flex;
  align-items: center;
  font-size: 36px; /* Tamaño de fuente más grande */
  color: rgba(0, 255, 255, 0.7); /* Color rojo transparente */
}

