<app-navigation></app-navigation>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h1>Roles</h1>
          <app-rol></app-rol>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h1>Modulos</h1>
          <app-modulos></app-modulos>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card-title>
        <h1>Permisos por Rol</h1>
        <app-permisos></app-permisos>
      </mat-card-title>
    </mat-grid-tile>
  </mat-grid-list>
</div>
