<app-navigation></app-navigation>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="openRegisterDialog()">Registrar</button>
</div>
<div class="mat-elevation-z8 content-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">
  </mat-form-field>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="publicacionDataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id_publicacion_plaza}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="plaza">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Plaza</th>
      <td mat-cell *matCellDef="let row">{{row.plaza.descripcion}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="medio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Medio difusion</th>
      <td mat-cell *matCellDef="let row">{{row.medio_difusion.descripcion}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let row">{{row.estado_publicacion.descripcion}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha publicacion</th>
      <td mat-cell *matCellDef="let row">{{row.fecha_publicacion}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="view(row.id_plaza)" aria-label="View">
          <mat-icon color="secondary">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="edit(row)" aria-label="Edit">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(row)" aria-label="Delete">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="publicacion.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
      aria-label="Select page">
</mat-paginator>
</div>
